 /* ===== COLORES BÁSICOS ===== */
 $blanco: #e9e9e9; // Blanco/gris muy claro
 $negro: #040405; // Negro básico
 $negro-profundo: #0d0d0e; // Negro muy profundo

 /* ===== GRISES (de claro a oscuro) ===== */
 $gris-plata: #abacaa; // Gris claro plateado
 $gris-carbon: #262528; // Gris muy oscuro
 $gris-antracita: #39353f; // Gris muy oscuro con tinte violeta

 /* ===== AZULES ===== */
 $azul: #2b51b9; // Azul principal
 $azul-pizarra: #28223a; // Azul muy oscuro con tinte violeta

 /* ===== VIOLETAS ===== */
 $violeta-claro: #5c55b8; // Violeta azulado claro
 $violeta-medio: #534569; // Violeta grisáceo medio

 /* ===== ROSAS ===== */
 $rosa-orquidea: #cc81bd; // Rosa claro violáceo
 $rosa: #bc3897; // Rosa principal
 $malva: #8f8388; // Rosa grisáceo apagado

 /* ===== VERDES ===== */
 $verde-musgo: #293430; // Verde muy oscuro
 $verde-pizarra: #1b2423; // Verde muy oscuro con tinte gris

 /* ===== MARRONES ===== */
 $marron-taupe: #544b4b; // Marrón grisáceo