$metal-mania: 'Metal Mania', cursive;
$black-ops-one: 'Black Ops One', sans-serif;
$oswald: 'Oswald', sans-serif;
$anton: 'Anton', sans-serif;
$bebas-neue: 'Bebas Neue', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$unifraktur-cook: 'UnifrakturCook', cursive;
$unifraktur-maguntia: 'UnifrakturMaguntia', cursive;
$pirata-one: 'Pirata One', cursive;
$nosifer: 'Nosifer', cursive;
$fruktur: 'Fruktur', cursive;
$eater: 'Eater', cursive;
$butcherman: 'Butcherman', cursive;
$creepster: 'Creepster', cursive;
$griffy: 'Griffy', cursive;
$monoton: 'Monoton', cursive;
$almendra-sc: 'Almendra SC', serif;
$medievalsharp: 'MedievalSharp', cursive;
$caesar-dressing: 'Caesar Dressing', cursive;
$rubik-mono-one: 'Rubik Mono One', sans-serif;
$special-elite: 'Special Elite', cursive;

