@use './fuentes' as *;
@use './colores' as *;

h1 {
  font-family: $metal-mania;
  color: $azul;
}

h2 {
  font-family: $bebas-neue;
  color: $rosa;
}

h3 {
  font-family: $bebas-neue;
  color: $violeta-claro;
}

nav {
  font-family: $montserrat;
  color: $gris-plata;
  text-decoration: none;

  // ...

  &:hover {
    color: $rosa;
  }
}

nav a {

  // ...
  a,
  .nav__link {
    font-family: $montserrat;
    color: $gris-plata;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $rosa;
    }
  }
}


ul,
li {
  font-family: $rubik-mono-one;
  color: $gris-plata;
}

p {
  font-family: $roboto;
  color: $blanco;
}

a {
  font-family: $montserrat;
  color: $gris-plata;
  text-decoration: none;

  &:hover {
    color: $rosa;
  }
}