@use '@mix/mixin.scss' as mix;

header {
  @include mix.bordes;
  position: fixed;
  width: 100vw;
  height: 150px;
  display: flex;
  flex: row;

  .logo-mielmadev img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    }
}

